/* Question Pack List */

.question_pack_list {
    padding-top: 50px;
}

.question_pack_list .row {
    margin-bottom: 25px;
}

/* Question Pack List */

/* Question Pack */

.question_pack {
    height: 100vh;
    overflow: hidden;
    font-size: 15px;
}

.question_pack .green_text > span:nth-child(2) {
    color: #1D6A24;
    font-weight: 700;
}

.question_pack .red_text > span:nth-child(2) {
    color: #AB1C37;
    font-weight: 700;
}

.question_pack > div:first-child {
    background: #013F6E;
    height: 11vh;
}

.question_pack > div:last-child {
    background: linear-gradient(#DCE5EE, #B1CCE5);
    height: 5vh;
    font-size: 12px;
}

.question_pack > div:last-child div.col-md-4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.question_pack > div:last-child div.col-md-4 > span {
    margin-right: 7px;
}

.question_pack > div:last-child div.col-md-4 .CircularProgressbar {
    height: 20px;
    width: 20px;
}

.question_pack > div .container,
.question_pack > div .col-sm-12 {
    display: flex; flex-direction: row;
    align-items: center;
}

.question_pack > div:nth-child(2) .col-sm-12 {
    height: 84vh;
    background: #ffffff;
    justify-content: center;
    align-items: flex-start;
}

.question_pack .btn_menu_top {
    justify-content: flex-end;
    display: flex;
}

.question_pack .btn_menu_top > button {
    width: 5em;
    background-color: #D1E8FA;
    color: #013F6E;
    font-weight: 600;
    border-color: #D1E8FA;
}

.question_pack .btn_menu_top > button:focus,
.question_pack .btn_menu_top > button.focus,
.question_pack .btn_menu_top > button:active {
    outline: 0 !important;
    box-shadow: none !important;
    background: #D1E8FA !important;
}

.question_pack .btn_menu_top > button:active {
    color: #013F6E !important;
}

.question_pack .btn_menu_top > button:nth-child(3) {
    -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    text-align: left;
    padding-left: 15px;
    width: 4.5em;
}

.question_pack .btn_menu_top > button:nth-child(1) {
    -webkit-clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
    clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
    text-align: right;
    padding-right: 15px;
    width: 4.5em;
}

.question_pack .btn_menu_top > button:nth-child(2) {
    margin: 0 2px;
    width: 6em;
}

.question_pack .btn_menu_top > button:last-child {
    margin-left: 25px;
}

.question_pack .question_title {
    color: #124770;
    font-weight: 600;
    font-size: 0.9em;
    padding: 20px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(12, 54, 87, 0.3);
}

.question_pack > div:nth-child(2) .form-check {
    margin-bottom: 5px;
}

.question_pack > div:nth-child(2) .form-check:hover,
.question_pack > div:nth-child(2) .form-check label:hover,
.question_pack > div:nth-child(2) .form-check input:hover {
    cursor: pointer;
}

.question_pack form {
    height: 100%;
    overflow: hidden;
}

.question_pack form > div:last-child {
    height: calc(100% - 80px);
    overflow: hidden;
    overflow-y: auto;
}

.question_pack form .form-check input.form-check-input {
    width: 15px;
    height: 15px;
}

.question_pack form .form_menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.question_pack form .form_menu > div {
    margin-left: 10px;
    font-size: 17px;
}

.question_pack form .form_menu > button {
    background: linear-gradient(#85bb3b, #599419);
    border: 1px solid #346701;
    padding: 7px 18px;
}

.question_pack form .form_menu > button:focus,
.question_pack form .form_menu > button.focus,
.question_pack form .form_menu > button:active,
.question_pack form .form_menu > button:active {
    background: linear-gradient(#85bb3b, #599419) !important;
}

.question_pack form .form_menu > div button {
    background: transparent;
    border: none;
    border-radius: 0;
    padding: 0;
    font-size: 0.9em;
    color: #17a2b8;
}

.question_pack form .form_menu > div button:focus,
.question_pack form .form_menu > div button.focus,
.question_pack form .form_menu > div button:active,
.question_pack.pause .pause_overlay button {
    outline: 0 !important;
    box-shadow: none !important;
    background: transparent !important;
}

.question_pack form .form_menu > div button:active {
    color: #0e4b55 !important;
}

.question_pack form .form_menu > div > div button:first-child {
    padding-right: 10px;
    border-right: 1px solid #17a2b8;
}

.question_pack form .form_menu > div > div button:last-child {
    padding-left: 10px;
    border-left: 1px solid #17a2b8;
}

.question_pack .btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}

.question_pack .guess_chkbox {
    margin-top: 15px;
    padding: 0;
    color: #6db81d;
}

/* base styles */
.guess_chkbox input[type="checkbox"] {
    height: 1em;
    width: 1em;
    vertical-align: middle;
    margin: 0 0.4em 0.4em 0;
    border: 1px solid #6db81d;
    background: transparent;
    -webkit-appearance: none;
    -webkit-border-radius:4px;
    border-radius: 4px;
    position: relative;
}

/* focus state */
.guess_chkbox input[type="checkbox"]:active:not(:disabled),
.guess_chkbox input[type="checkbox"]:focus {
    outline:none;
    box-shadow: 0 none;
}

/* checkbox checked */
.guess_chkbox input[type="checkbox"]:checked:before {
    font-weight: bold;
    color: #6db81d;
    content: '\2713';
    -webkit-margin-start: 0;
    margin-left: 2px;
    font-size: 0.7em;
    position: absolute;
}

.question_pack .guess_chkbox input {
    position: relative;
    border: 1px solid #6db81d;
}

.question_pack.pause > div:nth-child(3),
.question_pack.pause > div:nth-child(4) {
    display: none;
}

.question_pack.pause .pause_overlay {
    height: 89vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
}

.question_pack.pause .pause_overlay button {
    background: transparent;
    border: none;
    padding: 0;
    font-size: 1.7em;
    font-weight: 700;
}

.question_pack.pause .btn_menu_top > button:nth-child(2):focus,
.question_pack.pause .btn_menu_top > button:nth-child(2).focus,
.question_pack.pause .btn_menu_top > button:nth-child(2):active {
    outline: 0 !important;
    box-shadow: none !important;
    background: #63A21F !important;
    color: #ffffff !important;
}

.question_pack.pause .btn_menu_top > button:nth-child(2) {
    background: #63A21F;
    border-color: #5a941d;
    color: #ffffff;
}

/* Question Pack */

/* Result */

.result {
    padding-top: 50px;
}

.result table {
    margin-top: 50px;
    background: #fcfcfc;
}

/* Result */

@media screen and (min-width: 768px) {
    .question_pack {
        font-size: 20px;
    }

    .question_pack > div:last-child {
        font-size: 14px;
    }
}